/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-oct-2015, 17:46:09
    Author     : carlii
*/

.encabezado{
    height: 150px;
    width: 20%;
    background-color: #0B3861;
    float: left;

}



.encabezado img{
    height: 90px;
    width: 90px;
    margin-top: 30px;
    margin-left:  120px;
}
.encabezadoCenter{
    height: 150px;
    width: 80%;
    background-color: #0B3861;
    float: left;
}


.encabezadoCenter h1{
    color: white;
    margin-left: 100px;
    margin-top: 60px;
    font-family: arial;

}
.hora{
    width: 100%;
    background-color: #0B3861;
    float: left;

}

.main{

    height: 280px;
    width: 100%;
    float: left;
    background-color: white;
}

.main ul {
    width:750px;
    list-style-type:none;
    margin:0px;
    padding:0px;
}
.main li{
    padding:12px; 
    border-bottom:1px solid #eee;
    position:relative;
}
.main label {
    color: #555555;
    display: inline-block;
    float: left;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 90px;
}

.main input { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    color: #888;
    font-size: 12px;
    font-family: arial;
    padding-right:30px;
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;
}
.main input:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
    padding-right:80px;
}
.main input {
    height:20px; 
    width:220px; 
    padding:5px 8px;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
.main input:required:valid {
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.main input:focus:invalid{
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
.main p{
    font-family: arial;
    font-size: 130%;
}


.main2 p{
    font-family: arial;
    font-size: 130%;
}
.main2 input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
.main2 {

    height: 100px;
    width: 1350px;
    float: left;
    background-color: white;
}
